@use 'variables' as *;
@use "sass:color";
@use "sass:list";

$btn-depth: $outline;
$transition-len: 0.08s;
$darken: -50%;

a.btn {
    color: white;
    text-decoration: none !important;
    user-select: none;

    margin: auto;
    padding: 0;

    &:focus {
        outline: none;
        div.btn {
            outline: solid $outline white;
        }
    }
}

$button-variants: (
    "primary": ($primary, $secondary),

    "red": ($red, color.scale($red, $lightness: $darken)),
    "orange": ($orange, color.scale($orange, $lightness: $darken)),
    "yellow": ($yellow, color.scale($yellow, $lightness: $darken)),
    "green": ($green, color.scale($green, $lightness: $darken)),
    "teal": ($teal, color.scale($teal, $lightness: $darken)),
    "cyan": ($cyan, color.scale($cyan, $lightness: $darken)),
    "blue": ($blue, color.scale($blue, $lightness: $darken)),
    "purple": ($purple, color.scale($purple, $lightness: $darken)),
    "pink": ($pink, color.scale($pink, $lightness: $darken)),

    "black": (#111111, #000000),
    "white": (#ffffff, #bbbbbb),
    "gray": ($bs-gray, $bs-gray-800),
);


div.btn {
    display: inline-flex;
    // align-items: baseline;
    gap: 0.5rem;

    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: $outline;

    text-align: center;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-weight: 600;

    transform: translateY(-$btn-depth);
    transition: $transition-len;

    &:hover, &:focus {
        transform: translateY(0);
    }

    // Generate button variants
    @each $name, $colors in $button-variants {
        $color: list.nth($colors, 1);
        $shadow: list.nth($colors, 2);
        
        &-#{$name} {
            background: $color;
            box-shadow: 0 $btn-depth $shadow;

            &:hover, &:focus {
                background: $shadow;
                box-shadow: 0 0 $shadow;
            }
        }
    }
    &-yellow, &-white, &-teal {
        color: black;
    }
}