a.btn {
  color: white;
  text-decoration: none !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: auto;
  padding: 0;
}
a.btn:focus {
  outline: none;
}
a.btn:focus div.btn {
  outline: solid 4px white;
}

div.btn {
  display: inline-flex;
  gap: 0.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-top: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  transform: translateY(-4px);
  transition: 0.08s;
}
div.btn:hover, div.btn:focus {
  transform: translateY(0);
}
div.btn-primary {
  background: #4951ff;
  box-shadow: 0 4px #242875;
}
div.btn-primary:hover, div.btn-primary:focus {
  background: #242875;
  box-shadow: 0 0 #242875;
}
div.btn-red {
  background: #dc3545;
  box-shadow: 0 4px rgb(116.3417721519, 20.1582278481, 29.3734177215);
}
div.btn-red:hover, div.btn-red:focus {
  background: rgb(116.3417721519, 20.1582278481, 29.3734177215);
  box-shadow: 0 0 rgb(116.3417721519, 20.1582278481, 29.3734177215);
}
div.btn-orange {
  background: #fd7e14;
  box-shadow: 0 4px rgb(135.3481012658, 62.2025316456, 1.1518987342);
}
div.btn-orange:hover, div.btn-orange:focus {
  background: rgb(135.3481012658, 62.2025316456, 1.1518987342);
  box-shadow: 0 0 rgb(135.3481012658, 62.2025316456, 1.1518987342);
}
div.btn-yellow {
  background: #ffc107;
  box-shadow: 0 4px rgb(131, 98.25, 0);
}
div.btn-yellow:hover, div.btn-yellow:focus {
  background: rgb(131, 98.25, 0);
  box-shadow: 0 0 rgb(131, 98.25, 0);
}
div.btn-green {
  background: #198754;
  box-shadow: 0 4px rgb(12.5, 67.5, 42);
}
div.btn-green:hover, div.btn-green:focus {
  background: rgb(12.5, 67.5, 42);
  box-shadow: 0 0 rgb(12.5, 67.5, 42);
}
div.btn-teal {
  background: #20c997;
  box-shadow: 0 4px rgb(16, 100.5, 75.5);
}
div.btn-teal:hover, div.btn-teal:focus {
  background: rgb(16, 100.5, 75.5);
  box-shadow: 0 0 rgb(16, 100.5, 75.5);
}
div.btn-cyan {
  background: #0da8f0;
  box-shadow: 0 4px rgb(6.5, 84, 120);
}
div.btn-cyan:hover, div.btn-cyan:focus {
  background: rgb(6.5, 84, 120);
  box-shadow: 0 0 rgb(6.5, 84, 120);
}
div.btn-blue {
  background: #0d6efd;
  box-shadow: 0 4px rgb(1.0901639344, 53.9631147541, 131.9098360656);
}
div.btn-blue:hover, div.btn-blue:focus {
  background: rgb(1.0901639344, 53.9631147541, 131.9098360656);
  box-shadow: 0 0 rgb(1.0901639344, 53.9631147541, 131.9098360656);
}
div.btn-purple {
  background: #6610f2;
  box-shadow: 0 4px rgb(50.6785714286, 6.6547619048, 122.3452380952);
}
div.btn-purple:hover, div.btn-purple:focus {
  background: rgb(50.6785714286, 6.6547619048, 122.3452380952);
  box-shadow: 0 0 rgb(50.6785714286, 6.6547619048, 122.3452380952);
}
div.btn-pink {
  background: #d63384;
  box-shadow: 0 4px rgb(110.3265306122, 22.1734693878, 65.9795918367);
}
div.btn-pink:hover, div.btn-pink:focus {
  background: rgb(110.3265306122, 22.1734693878, 65.9795918367);
  box-shadow: 0 0 rgb(110.3265306122, 22.1734693878, 65.9795918367);
}
div.btn-black {
  background: #111111;
  box-shadow: 0 4px #000000;
}
div.btn-black:hover, div.btn-black:focus {
  background: #000000;
  box-shadow: 0 0 #000000;
}
div.btn-white {
  background: #ffffff;
  box-shadow: 0 4px #bbbbbb;
}
div.btn-white:hover, div.btn-white:focus {
  background: #bbbbbb;
  box-shadow: 0 0 #bbbbbb;
}
div.btn-gray {
  background: #6c757d;
  box-shadow: 0 4px #343a40;
}
div.btn-gray:hover, div.btn-gray:focus {
  background: #343a40;
  box-shadow: 0 0 #343a40;
}
div.btn-yellow, div.btn-white, div.btn-teal {
  color: black;
}/*# sourceMappingURL=buttons.css.map */