@use 'variables' as *

    
@font-face
    font-family: 'Nebula Sans'
    src: url('/assets/fonts/NebulaSans-Book.woff2') format('woff2')
    font-feature-settings: 'ss01'
    font-feature-settings: 'ss02'
    font-feature-settings: 'ss03'
    font-weight: 400
    font-display: swap

@font-face
    font-family: 'Nebula Sans'
    src: url('/assets/fonts/NebulaSans-Semibold.woff2') format('woff2')
    font-feature-settings: 'ss01'
    font-feature-settings: 'ss02'
    font-feature-settings: 'ss03'
    font-weight: 600
    font-display: swap


:root
    // font-family: "Nunito Sans", sans-serif
    font-family: 'Nebula Sans', sans-serif
    font-size: 24px
    @media only screen and (max-width: 800px)
        font-size: 20px
    margin: 0
    padding: 0
    scrollbar-color: $text black

    
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
    background-color: $primary


html, body
    max-width: 100%
    overflow-x: hidden
    color: white


p
    color: $text

h1, h2, h3, h4, h5, h6
    font-weight: 600
    color: white
    margin-top: 20px
    margin-bottom: 20px
    

h1
    font-size: 2.5rem

h2
    font-size: 1.5rem

h3
    font-size: 1.2rem

h4, h5, h6
    font-size: 1.1rem


a
    color: $link
    text-decoration: none

a:hover
    color: $link
    text-decoration: underline


body
    margin: 0
    padding: 0
    min-height: 100dvh


img.icon
    height: 1cap
    aspect-ratio: 1
